/* Second menu */
#menu2nd {
	background: darkRed;
	border-bottom: 1px solid #000000;
	height: 37px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	padding: 0px 5px;
	position: relative;
	z-index: 10;
}

#menu2nd ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu2nd > ul > li {
	position: relative;
	float: left;
	z-index: 20;	
}
#menu2nd .noa{	
	color: #FFCC00;
    font-size: 13px;
	padding: 0px 15px;
	line-height: 37px;
}
#menu2nd .noa > div{	
	margin-left: -15px;
}
#menu2nd > ul > li:hover {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#666));
	background-image: -moz-linear-gradient(0% 100% 90deg, #666, #999);
	background-image: -o-linear-gradient(bottom, rgb(221, 221, 221), rgb(255, 255, 255));
	background-image: -ms-linear-gradient(bottom, #666, #999);
}
#menu2nd > ul > li > a {
	font-size: 13px;
	color: #FFCC00;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 12px 15px 11px 15px;
	z-index: 6;
	position: relative;
}
#menu2nd > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #000000;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: url('../image/menu.png');
}

#menu2nd > ul > li:hover > div {
	display: table;
}
#menu2nd > ul > li > div > ul {
	display: table-cell;
}
#menu2nd > ul > li ul + ul {
	padding-left: 20px;
}
#menu2nd > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu2nd > ul > li ul > li > a:hover {
	background: #000000;
}
#menu2nd > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
#menu2nd > ul > li > div > ul > li {
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 5px;
	line-height: 13px;
}

#menu2nd > ul > li > div > ul > li > div {
	display: none;
	background: transparent;
	position: absolute;
	z-index: 5;
	padding: 10px 0px 0px;
	margin-left: -5px;
}
#menu2nd > ul > li > div > ul > li > div > ul {
	background: url('../image/menu.png');
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	box-shadow: 0px 0px 10px #999;
	display: table-cell;
	padding-left: 5px;
}
#menu2nd > ul > li > div > ul > li > div > ul > li{
	vertical-align: middle;
}
#menu2nd > ul > li > div > ul > li > div > ul > li a {
	color: gold;
}
#menu2nd > ul > li > div > ul > li > div > ul > li img{
	float: left;
	padding-right: 5px;
}
#menu2nd > ul > li > div > ul > li:hover > div {
	display: table;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 1s ease-in-out 1s;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	
}
#menu2nd > ul > li > div > ul > li > div {
	margin-top: -1px;
}
#menu2nd > ul > li > div > ul > li > div >ul >li a:hover {
	background: transparent;
}
#menu2nd > ul > li > div > ul > li > div >ul >li:hover {
	background: #333;
}

#menu2nd > ul > li > div > ul > li > a:hover {
	background:transparent;	
	color: #fff;
	/*border: 1px solid #666666;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	box-shadow: 0px 0px 10px #999;
	text-shadow: 1px 1px 0 #4f4f4f;
}
#menu2nd > ul > li ul + ul {
	padding-left: 10px;
	padding-right: 10px;
	border-left:1px dotted #666;
}
#menu2nd > ul > li > div > ul > li > div > ul + ul {
	padding: 0px;
}

#menu2nd > ul > li > div, div.top-sub-menu {
	position: absolute;
	z-index: 5;
	display: none;
	padding: 0;
	border: 1px solid #333;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	background: url('../image/menu.png');
	text-align: left;
}
#menu2nd > ul > li:hover > div, li:hover > div.top-sub-menu {
	display: table;
}
#menu2nd > ul > li > div > ul, div.top-sub-menu > ul {
	display: table-cell;
	text-align: left;
}
.top-sub-menu {
	left: 100%;
	margin-top: -15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}
