<!DOCTYPE html>
<html>
<head>

   <title>Palm Parts</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width initial-scale=1">
   <link rel="stylesheet" href="../css/fonts.css">
   <link rel="stylesheet" href="../css/styles.css">
   <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<% include blocks/header.ejs %>

<div class="cont">
<!--TODO: Cars models-->
</div>

</body>
</html>
