<!DOCTYPE html>
<html>
<% include blocks/head.ejs %>

<body>
<% include blocks/header.ejs %>

<div class="cont">
   <h1>Car is: <%=model%> </h1>
  <!--TODO: Parts types-->
</div>
</body>
</html>
