/* Second menu */
#menu2nd {
	margin-bottom: 15px;
	padding: 0;
	height: 35px;
    border-bottom: 2px solid #050505;
	-webkit-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#353535));
    background: -moz-linear-gradient(top,  #777,  #353535);
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	color: #fff;
	text-align: left;
    text-shadow: 0px 1px 0px #2f2f2f;

    }

#menu2nd ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	//display: inline;
	//zoom: 1;
}
#menu2nd > ul > li{
	position: relative;

	z-index: 20;
	float: left;
	text-align: center;
}
#menu2nd > ul > li:hover {

    background: #222;
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#111));
    background: -moz-linear-gradient(top,  #555,  #111);

}
#menu2nd > ul > li > a.active {
	background: #111;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
}
#menu2nd > ul > li > a {
	position: relative;
	z-index: 6;
	display: block;
	padding: 10px 15px;
	color: #FFF;
	vertical-align: middle;
	text-decoration: none;

	font-size: 13px;
	line-height: 15px;
}
#menu2nd > ul > li > div, div.top-sub-menu {
	position: absolute;
	z-index: 5;
	display: none;
	padding: 0;
	border: 1px solid #333;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	background: url('../image/menu.png');
	text-align: left;
}
#menu2nd > ul > li:hover > div, li:hover > div.top-sub-menu {
	display: table;
}
#menu2nd > ul > li > div > ul, div.top-sub-menu > ul {
	display: table-cell;
	text-align: left;
}
#menu2nd > ul > li ul + ul {
	padding-left: 0;
}
#menu2nd > ul > li ul > li > a {
	display: block;
	padding: 6px 6px 6px 15px;
	min-width: 100px;
	color: #FFFFFF;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
}
#menu2nd > ul > li ul > li > a:hover {
	background: #000000;
}
#menu2nd > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
.top-sub-menu {
	left: 100%;
	margin-top: -15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}
